In [11]:
import numpy as np
import pandas as pd

In [12]:
df = pd.read_csv("headbrain.csv")
df

     Gender  Age Range  Head Size(cm^3)  Brain Weight(grams)
0         1          1             4512                 1530
1         1          1             3738                 1297
2         1          1             4261                 1335
3         1          1             3777                 1282
4         1          1             4177                 1590
..      ...        ...              ...                  ...
232       2          2             3214                 1110
233       2          2             3394                 1215
234       2          2             3233                 1104
235       2          2             3352                 1170
236       2          2             3391                 1120

[237 rows x 4 columns]

In [13]:
def LinearRegression(x,y):
    x_m = np.mean(x)
    y_m = np.mean(y)

    n = len(x)
    num = 0
    den = 0
    for i in range(n):
        num += ((x[i] - x_m) * (y[i] - y_m))
        den += ((x[i] - x_m) ** 2)

    m = num / den
    c = y_m - m * x_m
    
    return(m,c)

def predict(X,m,c):
    y_p = []
    for i in range(len(x)):
        y_p.append(c + m * x[i])

    return(y_p)

In [14]:
def r2score(y_obs,y_pred):
    
    yhat = np.mean(y_obs)
    
    ss_res = 0
    ss_tot = 0
    
    for i in range(len(y_obs)):
        ss_tot += (y_obs[i] - yhat) ** 2
        ss_res += (y_obs[i] - y_pred[i]) ** 2
        
    r2 = 1 - (ss_res / ss_tot)

    return r2